body {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 11px;
  margin-top: 0px;
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  color: #000000;
  background: #FFFFFF;
}

a {
  max-width: 100%;
  display: block;
  text-decoration: none;
}
a:hover {
  color: #444444;
}

.headerDiv {
  margin-top: 11px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.headerImgElement {
  width: 66px;
  height: 66px;
}
.headerImgDiv {
  float: left;
  width: 66px;
  margin-bottom: 11px;
}
.headerTitleDiv {
  float: left;
  text-align: left; 
  valign: middle;
  width: 300px;
  font-size: 21px;
  font-weight: bold;
  margin-top: 22px;
  margin-left: 7px;
}
.headerBorderTitle {
  clear: both;
  font-size: 13px;
  margin-top: 7px;
  margin-left: 0px;
  margin-right: 10px;
  padding: .2em .4em .35em;
  background: #EBEFF9;
  border-top: 1px solid #9CC2EF;
  font-weight: bold;
  white-space: nowrap;
}
.headerLinkDiv {
  clear: both;
  position: absolute;
  top: 91px;
  right: 9px;
  font-size: 13px;
  color: #3500FF;
/*  width: 100px;*/
/*  height: 30px;*/
}
.headerLinkDiv:hover {
  cursor: pointer;
}

.rctListDiv {
	float: left;
  width: 703px;
  margin-left: 7px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #B7C5E3;
}

.rctList_headline {
	float: left;
	margin-top: 4px;
}
.rctList_deleteAllButtonDiv {
	float: right;
}
.rctList_placeholder {
	clear: both;
}

.rctList_ul {
  padding: 0px;
  margin: 0px;
}
.rctList_li {
  list-style-type: none;
  width: 703px;
  height: 38px;
  padding: 1px;
}
.rctList_li:hover {
  border-radius: 5px;
  background-color: #BDD6F5;
  cursor: pointer;
  padding: 1px;
}

.rctList_contentDiv {
/*  width: 580px or 490px will be set in options.js;*/
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #000000;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #B7C5E3;
  border-right: 0px;
  background-color: #F1F6FD;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.rctList_titleDiv {
  height: 15px;
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  border: 0px solid #B7C5E3;
  background-color: #F1F6FD;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_urlDiv {
  height: 15px;
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: italic;
  color: #000000;
  border: 0px solid #B7C5E3;
  background-color: #F1F6FD;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rctList_firstColumnDiv {
	width: 45px;
  float: left;
  text-decoration: none;
  text-align: right;
  color: #000000;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_favIconDiv {
	float: left;
	width: 20px;
	height: 15px;
  width: 100%;
  text-align: right;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_favIcon {
  width: 16px;
  height: 16px;
  padding: 2px 2px 2px 2px;
}
.rctList_dateDiv {
	float: left;
  height: 15px;
  width: 20px;
  text-align: right;
  width: 100%;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_dateDivElement {
  float: left;
  text-align: right;
  color: #000000;
  width: 40px;
  height: 15px;
  padding: 1px;
  padding-top: 5px;
  padding-right: 3px;
}

.rctList_tabShotDiv {
  float: left;
  width: 40px;
  text-align: center;
  padding: 1px 1px 1px 1px;
}
.rctList_tabShotImg {
  max-width: 40px;
	max-height: 38px;
}

.rctList_editButtonsDiv {
  width: 63px;
  float: left;
  text-decoration: none;
/*  border: 1px solid #000000;*/
  color: #000000;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.rctList_deleteButtonDiv {
  height: 14px;
  width: 63px;
  float: left;
  border-radius: 0px 5px 0px 0px;
  border: 1px solid #757575;
  /* #F2F2F2 */
  /* #D6D6D6 */
  background-color: #F2F2F2;
  padding: 2px 1px 1px 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_deleteButtonDiv:hover {
  border: 1px solid #3C7FB1;
	/* #E8F6FD */
	/* #B5E2FA */
  background-color: #B5E2FA;
}
.rctList_deleteButton {
  width: 63px;
  text-align: center;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
}
.rctList_deleteButton:hover {
  color: #000000;
}
.rctList_toFiltersButtonDiv {
  height: 14px;
  width: 63px;
  float: left;
  border-radius: 0px 0px 5px 0px;
  border: 1px solid #757575;
  /* #F2F2F2 */
  /* #D6D6D6 */
  background-color: #F2F2F2;
  padding: 2px 1px 1px 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rctList_toFiltersButtonDiv:hover {
  border: 1px solid #3C7FB1;
  /* #E8F6FD */
  /* #B5E2FA */
  background-color: #B5E2FA;
}
.rctList_toFiltersButton {
  width: 63px;
  text-align: center;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
}
.rctList_toFiltersButton:hover {
  color: #000000;
}

.filters_contentDiv {
	float: left;
  width: 212px;
  /*height: 21px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #B7C5E3;
  background-color: #F1F6FD;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.filters_deleteButtonDiv {
	float: left;
  with: 50px;
}
.filters_editButtonDiv {
  float: left;
  with: 50px;
}
.rightColumnDiv {
	float: left;
	with: 332px;
	margin-left: 7px;
}

.optionsDiv {
  float: top;
  width: 320px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #B7C5E3;
}
.options_headline {
	float: left;
  margin-top: 4px;
}
.maxPopupLengthOptionsDiv {
	with: 200px;
	height: 80px;
	border: 1px solid #FFFFFF;
}
.maxPopupLength_headline {
  clear: both;
  margin-top: 4px;
}
.maxPopupLengthRangeDiv {
  float: left;
  width: 200xp;
}
.maxPopupLengthRangeMinDiv {
  float: left;
}
.maxPopupLengthRangeMaxDiv {
  float: left;
}
.maxPopupLengthRangeOutputDiv {
  float: left;
  margin-left: 5px;
}
.maxPopupLengthRangeOutputText {
  float: left;
  margin-left: 20px;
}

.showTabShotsOptionsDiv {
  with: 200px;
  height: 60px;
  border: 1px solid #FFFFFF;
}
.showTabShots_headline {
  clear: both;
  margin-top: 4px;
}

.saveOptionsDiv {
	clear: both;
  with: 200px;
  height: 26px;
	border: 1px solid #FFFFFF;
}
.saveOptionsButton {
	float: left;
}
.optionsSaveStatus {
	float: left;
	padding: 6px 0px 0px 4px;
}

.filtersDiv {
  float: bottom;
  width: 320px;
  margin-top: 7px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #B7C5E3;
}
.filters_headline {
  float: left;
  margin-top: 4px;
}
.filters_ul {
	clear: both;
	padding: 0px;
  margin: 0px;
}
.filters_li {
	border-radius: 5px;
  list-style-type: none;
  width: 316px;
  height: 25px;
  padding: 1px;
}
.filters_li:hover {
  border-radius: 5px;
  background-color: #BDD6F5;
  cursor: pointer;
  padding: 1px;
}

.footerDiv {
  clear: both;
  border-top-color: #DEE7F7;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  height: 44px;
  margin-bottom: 11px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
  vertical-align: top;
}
