@import "gui.css";

.rctDivElement {
  width: 800px;
}

.contentDivElement {
  width: 463px;
}

.deleteButtonDivElement {
	float: left;
	width: 100px;
	padding: 6px 1px 1px 1px;
}
.addToFiltersButtonDivElement {
	float: left;
  width: 100px;
  padding: 6px 1px 1px 1px;
}

.rctDivElement {
	float: relative;
	height: 38px;
	border: 0;
	vertical-align: middle;
	padding: 1px;
}

.filterListDivElement {
	float: left;
}

.filterListElementDivElement {
	float: left;
	width: 350px;
	border: 1px solid #FFFFFF;
}

.filterDivElement {
	float: left;
  width: 250px;
  height: 25px;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #B7C5E3;
  background-color: #F1F6FD;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filterDeleteButtonDivElement {
	float: left;
	with: 70px;
}
