@import "gui.css";

body {
	min-width: 150px;
	max-width: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.rctDivElement {
  width: 320px;
}

.contentDivElement {
  width: 245px;
}

.popupFooter {
	height: 14px;
	width: 250px;
}

.popupFooter:hover {
	font-weight: bold;
	cursor: hand;
}
